.modal-wrapper {
    right: -30vh;
    position: absolute;
    background: #35413b;
    width: 80%;
    max-width: 500px;
    z-index: 10;
    animation: slide 0.5s forwards;
}

@keyframes slide {
    100% { right: 0; }
}

.modal-body .modal-menu-text {
    font-size: 1.5rem;
    padding: 0rem;
    color: rgb(241, 237, 233);
}

.modal-content {
    text-align: center;
}

.modal-body {
    margin-bottom: 2rem;
    padding: 0 0 1rem 0;
    background-color: #35413b;
}

.modal-body h3 {
    text-decoration: none;
    font-size: 1rem;
    background: rgb(236, 231, 224);
    color: #333;
    padding: 1rem;
    margin: 1rem 2rem;
}

.modal-header button {
    display: block;
    font-size: 2rem;
    margin-left: auto;
    padding: 0.5rem 1.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(130, 60, 46);
    color: #fff;
}

.back-drop {
    background: rgb(34, 34, 34);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
    opacity: 0.7;
    z-index: 2;
}
