/* Everything */

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  /* font-family: 'Lato', sans-serif; */
}

body * {
  font-family: 'Comic sans', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  color: rgb(236, 232, 229);
  text-shadow: 0 0 10px black;
}

.product-titles {

  text-align: center;
}

.menu-selection-container {
  text-align: center;
  background-color: rgb(121, 107, 98);
}

.menu-background {
  height: 100vh;
  background-color: rgb(121, 107, 98);
}

/* Cursive Font */
.font-cursive {
  font-family: 'Pacifico', cursive;
}

/* Header */

#header-container {
  display: flex;
  background-image: linear-gradient(to right, rgb(230, 208, 178) , rgb(219, 216, 211));
  background-color: rgb(231, 226, 219);
  padding: 0 0.5rem;
  height: 6rem;
  order: 1;
  border-bottom: 1px solid black;
}

#header-title {
  margin: 1rem auto;
  font-size: 30px;
  color: rgb(27, 26, 26);
  text-shadow: 0 0 1px black;
}

#hamburger-icon {
  width: 4rem;
  position: absolute;
  right: 0rem;
  top: 0;
  margin: 0.9rem 0.5rem;
}

#back-arrow-icon {
  width: 2.5rem;
  position: absolute;
  left: 0.5rem;
  top: 0.6rem;
  margin: 0.9rem 0.5rem;
}

/* Front Page */

#front-page-container {
  display: grid;
}



.frontpage-div {
  border: 1px solid black;
  margin: 1rem;
}

/* Main Menu */

.product-image {
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.expander-section {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem auto;
}

.expander-title {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.expander-title:hover,
.active {
  background-color: rgb(216, 208, 198);
}

.expander-icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.expander-content {
  background-color: rgb(235, 231, 228);
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.expander-text {
  font-weight: 400;
  font-size: 14px;
  padding: 1rem;
}

/* Front page cards */

.card-menu {
  padding: 1rem 0 10rem 0;
  background-color: rgb(216, 208, 198);
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuImg {
  margin-bottom: 1rem;
  width: auto;
  height: auto;
  border-radius: 1rem;
  box-shadow: 5px 7px 8px 0 rgb(74, 50, 42);
}

.frontpage-card {
  position: relative;
}

.frontpage-card-text {
  width:100%;    
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

/* Top buttons */

.menu-section-button {
  width: 28%;
  padding: 0.5rem;
  margin: 1rem 0.2rem;
  font-weight: bold;
}

.active-button {
  box-shadow: 0 0 10px rgb(148, 230, 148);
  color: rgb(0, 63, 0);
}

.space-maker {
  margin-bottom: 8rem;
}

/* Price popup at the bottom */

#total-price-div {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 6rem; 
  background-color: rgb(47, 68, 136);
  box-shadow: 0 0 8px rgb(72, 96, 172);

  animation: slideIn 0.3s;
}

@keyframes slideIn {
  from { bottom: -6rem; }
  to   { bottom: 0; }
}

#total-price-div:hidden {
  animation: slideOut 0.3s;
}

@keyframes slideOut {
  from { bottom: 0; }
  to   { bottom: -6rem;  }
}

#total-price-text-div {
  font-weight: 300;
  position: absolute;
  bottom: 3.5rem;
  left: 0.8rem;
  color: white;
  font-size: 1.2rem;
}

#go-to-shopping-cart-button {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  height: 3rem;
  width: 7rem;
}

#shopping-cart-done-img {
  height: 2rem;
}

.iconImage {
  width: 10%;
  margin-right: 1.5rem;
  margin: 0.6rem;
}

/* Number of products buttons and number */

.size-buttons-container {
  text-transform: capitalize;
  font-size: 1rem;
  padding: 1rem;
}

.button {
  border-radius: 5px;
  padding: 0.4rem 1rem;
  margin: 0.4rem 0.3rem;
  border: 1px solid rgb(70, 70, 70);
}

.number-of-items {
  border-radius: 5px;
  padding: 0.4rem 1rem;
  margin: 0.4rem 0.3rem;
  border: 1px solid gray;
}

.menu-item-box-beverage:active {
  background-color: rgb(20, 153, 140);
}

.minus-button {
  background-color: rgb(235, 190, 172);
  cursor: pointer;
}

.plus-button {
  background-color: rgb(180, 231, 214);
  cursor: pointer;
}

.minus-button:hover {
  box-shadow: 0 0 10px rgb(243, 132, 132);
}

.plus-button:hover {
  box-shadow: 0 0 10px rgb(93, 236, 115);
}

/* Shopping cart */

.shopping-cart-output-container {
  display: grid;
  background-color: rgb(235, 231, 228);
  border: 1px solid red;
  margin: 1rem 1rem auto;
  font-size: 1rem;
}

.shopping-cart-buttons-container {
  border: 1px solid green;
  display: flex;
  float: right;
  padding: 0 1rem;
}

.shopping-cart-output {
  padding: 1rem;
  
}

/*
.menu-item-box-beverage {

  background-color: rgb(216, 208, 198);
  height: 7rem;
  border: 1px solid black;
  position: relative;
  border-radius: 5px;
  margin: 0.5rem;
}

.menu-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
} 

.menu-item-box-dessert {
  background-color: rgb(216, 208, 198);
  height: 5rem;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.5rem;
}

.size-button {
  height: 2rem;
  width: 4rem;
  margin-right: 0.1rem;
}

.price-div-beverage {
  position: absolute;
  left: 0.5rem;
  bottom: 3.5rem;
}

.price-div-dessert {
  position: absolute;
  left: 0.5rem;
  bottom: 1.5rem;
}

.add-to-cart-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.add-to-cart-button button {
  width: 4rem;
  height: 2.5rem;
}
*/
